<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032137748893-ub0hf9tcn0amt92g3i06jreahne1abh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032137748893-ub0hf9tcn0amt92g3i06jreahne1abh7</string>
	<key>API_KEY</key>
	<string>AIzaSyBJLKYFn4T_Ybgme4uPtnqtPfEymHDaxLM</string>
	<key>GCM_SENDER_ID</key>
	<string>1032137748893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.enspyr.referenceConverter</string>
	<key>PROJECT_ID</key>
	<string>enspyr-experiments</string>
	<key>STORAGE_BUCKET</key>
	<string>enspyr-experiments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032137748893:ios:d8d15a77ca3ee9fcedff74</string>
</dict>
</plist>